ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.list-background {
  background-color: #333333;
}

.side-bar {
  margin: 2.5% 5% 0% 0%;
}
.side-bar-list {
  border-left: 2px solid black;
  border-right: 2px solid black;
  color: black;
  width: 100%;
}

.side-bar-list a {
  color: black;
  width: 100%;
}
li {
  float: left;
}
.section-heading {
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

section {
  border-bottom: 2px rgba(0, 0, 0, 0.25) solid;
  padding-bottom: 1rem;
}
